<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3><%= title %></h3>
    <img src="../images/Woo_hoo.jpg" alt="Homero_Woo_hoo" style="width:165px;height:165px;">
    <h3>Dear Martínez</h3>
  </body>
</html>
